body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.hide {
    visibility: hidden;
}

.bg-green {
    background-color: darkseagreen;
}

.bg-tan {
    background-color: blanchedalmond;
}

.bg-blue {
    background-color: darkcyan;
    color: white;
}

.bg-yellow {
    background-color: rgb(248, 230, 129);
}

.bg-red {
    background-color: rgb(233, 95, 95);
}